@font-face {
    font-family: 'defused';
    src: url('./fonts/defused.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-image: url('./img/background/dark_forest_background1.png');
    object-fit: contain;
    background-position: center;
    overflow: hidden;
}

canvas {
    background: linear-gradient(to bottom, rgb(0, 5, 27) 50%, rgb(112, 112, 112) 90%, rgb(35, 75, 102) 100%);
    display: block;
}

.d-none {
    display: none;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'defused', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 8px rgb(255, 196, 0);
    text-align: center;
}

/*---panel */
.panel-wrapper1 {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 320px;
}

button {
    background-color: rgb(35, 35, 39);
    border-radius: 20%;
    cursor: pointer;
}

button img {
    width: 30px;
    filter: brightness(1);
    /* Standard-Helligkeit */
    transition: filter 225ms ease-in-out;
    /* Sanfter Übergang */
}

button img:hover {
    filter: brightness(0) sepia(4) hue-rotate(30deg) saturate(15);
}

.startBtn_container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -55px;
}

button.startbtn {
    background-color: rgb(35, 35, 39);
    border-radius: 20%;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}

button.startbtn:hover {
    filter: brightness(2) sepia(4) hue-rotate(30deg) saturate(15);
}

#startContent img {
    width: 740px;
}

.descriptionBtn_container {
    position: relative;
    top: -70px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.restart_btn_container {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.play_again_btn {
    background: #222121;
    padding: 10px;
    color: #FFF;
}

.play_again_btn:hover {
    color: #19fd24;
    font-size: 18px;
}

.Winplay_again_btn {
    background: #222121;
    color: #FFF;
    padding: 10px;
}

.Winplay_again_btn:hover {
    color: #19fd24;
    font-size: 18px;
}

/* respnsive button */

.panel2 {
    width: 720px;
    display: none;
    justify-content: space-around;
    gap: 180px;
    position:fixed;
    top: 333px;
}

.panel-wrapperL{
    display: none;
}

.panel-wrapperR{
    display: none;
}
/* rotatescreen */
.rotateScreen{
    background: linear-gradient(to top, black 0%, #111111ef 40%,  rgba(24, 199, 24, 0.356) 100%);
    background: li;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.rotateScreen img{
    width: 250px;
    height: 250px;
}
span{
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    font-family: 'defused';
    text-align: center;
}

/* Smartphone ------- */
@media (hover: none) and (orientation:landscape){
    .desktopBtn{
        display: none;
    }
    #canvas{
        height: 100vh;
    }

    .panel-wrapperL{
        display: block;
    }
    
    .panel-wrapperR{
        display: block;
    }
    h1{
        display: none;
    }
}

@media (hover: none) and (orientation: portrait) {
    #canvas {
        display: none;
    }
    .panel1,
    #startScreen {
        display: none;
    }
    .desktopBtn{
        display: none;
    }
    .panel-wrapperL{
        display: block;
    }
    .panel-wrapperR{
        display: block;
    }
    .rotateScreen{
        display: flex;

    }
    h1{
        display: none;
    }
    #sound{
        display: none;
    }
    .panel-wrapperL{display: none;}
    .panel-wrapperR{display: none;}
}


@media only screen and (max-width: 720px) {
    #canvas {
        width: 100%;
        height: 100vh;
    }

   
    #startScreen {
        width: 100%;
        height: 100vh;
    }

    #startContent img,
    #descriptionBox img,
    #howToPlayBox img,
    #endScreenBox img {
        width: 100%;
        height: 100vh;
    
    }
    h1{
        display: none;
    }

}

/* Smartphone -------- */

@media only screen and (max-width: 480px) {
    #canvas {
        width: 100%;
        height: 100vh;
    }

   
    #startScreen {
        width: 100%;
        height: 100vh;
    }

    #startContent img,
    #descriptionBox img,
    #howToPlayBox img,
    #endScreenBox img {
        width: 100%;
        height: 100vh;
    }
    h1{
        display: none;
    }

}