body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
canvas{
    background: linear-gradient(to bottom, rgb(0, 5, 27) 50%, rgb(112, 112, 112) 90%, rgb(35, 75, 102) 100%);
}