@font-face {
    font-family: 'defused';
    src: url('./fonts/defused.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-image: url('./img/background/dark_forest_background1.png');
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    overflow: hidden;
}

.rotateScreen {
    background: linear-gradient(to top, black 20%, #11111141 50%, rgb(8, 223, 8) 90%);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rotateScreen img {
    width: 250px;
    height: 250px;
}

span {
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    font-family: 'defused';
    text-align: center;
}

canvas {
    background: linear-gradient(to bottom, rgb(0, 5, 27) 50%, rgb(112, 112, 112) 90%, rgb(35, 75, 102) 100%);
    display: block;
}

.d-none {
    display: none;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'defused', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 8px rgb(255, 196, 0);
    text-align: center;
}

button {
    background-color: rgb(35, 35, 39);
    border-radius: 20%;
    cursor: pointer;
}

button img {
    width: 30px;
    filter: brightness(1);
    transition: filter 225ms ease-in-out;
}

button img:hover {
    filter: brightness(0) sepia(4) hue-rotate(30deg) saturate(15);
}

/* Startbtn  + option*/
.startBtn_container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -68px;
}

button.startbtn {
    background-color: rgb(35, 35, 39);
    border-radius: 20%;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}

button.startbtn:hover {
    filter: brightness(2) sepia(4) hue-rotate(30deg) saturate(15);
}

 #startContent img {
    display: block;
    margin: auto;
} 


.option_btn {
    background: #222121;
    padding: 10px;
    color: #FFF;
}

.option_btn.active {
    background-color: #19fd24de;
    font-size: 17px;
}
/* options */
.option_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 150px;
    color: #FFF;
    gap: 10px;
}

.content_text {
    width: 400px;
    height: 200px;
    overflow-y: scroll;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.555);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

    scrollbar-width: thin;
    scrollbar-color: green rgba(0, 0, 0, 0.555);
}

a {
    color: #19fd24;
    text-decoration: none;
}


/* weiter butten*/
.descriptionBtn_container {
    position: relative;
    top: -70px;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
}

/* play again btn */
.restart_btn_container {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.play_again_btn {
    background: #222121;
    padding: 10px;
    color: #FFF;
}

.play_again_btn:hover {
    color: #19fd24;
    font-size: 18px;
}

.Winplay_again_btn {
    background: #222121;
    color: #FFF;
    padding: 10px;
}

.Winplay_again_btn:hover {
    color: #19fd24;
    font-size: 18px;
}

/* respnsive button */

/*---panel  */
.panel-wrapper1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* handy touch */
.panel2 {
    width: 100vw;
    display: none;
    justify-content: space-around;
    gap: 150px;
    position: absolute;
    bottom: 10px;
}

.panel-wrapperL {
    display: none;
}

.panel-wrapperR {
    display: none;
}

@media (max-width: 1368px) and (hover: none) and (orientation:landscape) {
    .desktopBtn {
        display: none;
    }

    #canvas {
        height: 100vh;
        position: fixed;
        width: 100%;
    } 

    .panel-wrapperL {
        display: block;
    }

    .panel-wrapperR {
        display: block;
    }

    h1 {
        display: none;
    }

    .panel-wrapper1 {
        position: absolute;
        top: 20px;
        z-index: 200;
    }

    #endWinScreenBox, #endOverScreenBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #endWinScreenBox img, #endOverScreenBox img {
        max-width: 720px;
    }

    .descriptionBtn_container {
        position: relative;
        top: -70px;
        padding-right: 130px;
    }

    button img {
            width: 50px;
        }
}

@media (max-width: 935px) and (hover: none) and (orientation:landscape) {
    #canvas {
        height: 100vh;
        position: fixed;
        width: 80%;
    } 

    .panel-wrapper1 {
        position: absolute;
        top: 20px;
        z-index: 200;
    }

    #startContent img,
    #descriptionBox img,
    #howToPlayBox img{
        height: 112vh;
        /* position: fixed; */
    } 

    #endWinScreenBox, #endOverScreenBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #endWinScreenBox img, #endOverScreenBox img {
        max-width: 720px;
        height: 112vh;
    }

    .descriptionBtn_container {
        position: relative;
        top: -70px;
        padding-right: 130px;
}
        button img {
            width: 25px;
        }
        

}

@media (hover: none) and (orientation: portrait) {
    #canvas {
        display: none;
    }

    .panel1,
    #startScreen {
        display: none;
    }

    .desktopBtn {
        display: none;
    }

    .panel-wrapperL {
        display: block;
    }

    .panel-wrapperR {
        display: block;
    }

    .rotateScreen {
        display: flex;

    }

    h1 {
        display: none;
    }

    #sound {
        display: none;
    }

    .panel-wrapperL {
        display: none;
    }

    .panel-wrapperR {
        display: none;
    }
}

/* Smartphone ------- */

@media only screen and (max-width: 720px) {
    #canvas {
        width: 100%;
    }

    #startScreen, #endWinScreenBox, #endOverScreenBox {
        width: 100vw;
    }

    #endWinScreenBox img, #endOverScreenBox img {
        width: 100vw;
    }

    #startContent img,
    #descriptionBox img,
    #howToPlayBox img{
        width: 100vw; 
    } 

    h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 480px) {
    #canvas {
        height: 100vh;
        display: none;
    }

    #startScreen {
        height: 100vh;
    }

    #endWinScreenBox img, #endOverScreenBox img {
        height: 100vh;
    }

    #startContent img,
    #descriptionBox img,
    #howToPlayBox img{
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .panel1,
    #startScreen {
        display: none;
    }

    .desktopBtn {
        display: none;
    }

    .panel-wrapperL {
        display: block;
    }

    .panel-wrapperR {
        display: block;
    }

    .rotateScreen {
        display: flex;
    }

    #sound {
        display: none;
    }

    .panel-wrapperL {
        display: none;
    }

    .panel-wrapperR {
        display: none;
    }
}
